<style>
  h1 { color: Yellow; }
  <p> { color: green; } 
  #cow { color: blue; }
  #chicken { color: red; }
  #pig { color: lime; }
  #fish { color: pink }
  #sheep { color: purple; }
  #dog { color: yellow; }
  iframe { height: 350px; width: 500px; }
  body { background-color: gray; }
</style>
